<h1>Public Recipes</h1>
<% @public_recipes.each do |public_recipe| %>
  <%= public_recipe.name %>
  <%= public_recipe.recipe_foods.count %>
  <% sum = 0 %>
  <% public_recipe.recipe_foods.each do |recipe_food| %>
    <% sum += recipe_food.quantity * recipe_food.food.price %>
  <% end %>
  <%= sum %>
<% end %>
