<div class="home-page-main-container">
  <div class="home-page-sub-container">
    <h1>Welcome to the Recipe App</h1>
    <div class="home-page-buttons-container">
      <div class="public-recipes-page-button"><%= link_to 'Public Recipes Page', public_recipes_index_path %></div>
      <div class="recipes-page-button"><%= link_to 'Recipes Page', recipes_index_path %></div>
      <div class="inventories-page-button"><%= link_to 'Inventories page', inventories_index_path %></div>
    </div>
  </div>
</div>